{% extends "base.html" %}
{% load static %}

{% block content %}



{% with games.0 as first_game %}
  <h1 class="text-center mt-5 mb-3">Match Day: {{first_game.md}}</h1>
{% endwith %}




<div class="accordion" id="accordionPanelsStayOpenExample">
    {% for game in games %}

    {% if game.status == 'NS' and not game.is_past_due %}
                <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed bg-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{forloop.counter}}" aria-expanded="false" aria-controls="collapseTwo{{forloop.counter}}">
        {{game.hTeam}} : {{game.aTeam}}
        
        
        
      </button>
    </h2>
    <div id="collapseTwo{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       
        <div class="card text-center">
  <div class="card-header">
    {{game.date.date}}
  </div>
  <div class="card-body">
    <h5 class="card-title"><img src="{{game.hTeam.logo}}" style="height:70px" alt="" class="img-thumbnail"> vs <img src="{{game.aTeam.logo}}" alt="" style="height:70px" class="img-thumbnail"></h5>
    <p class="card-text"> </p>
    <a href="/{{game.pk}}" class="btn btn-primary">PREDICT</a>
  </div>
  <div class="card-footer text-muted">
    {{game.date.time}}
  </div>
</div>

      </div>
    </div>
  </div>
    
  {% else %}
    <!--FULL TIME GAMES-->
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{forloop.counter}}" aria-expanded="false" aria-controls="collapseTwo{{forloop.counter}}">
            {{game.hTeam}} {{game.hTeamScore}} : {{game.aTeamScore}} {{game.aTeam}}
    
        
        
      </button>
    </h2>
    <div id="collapseTwo{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       
        <div class="card text-center">
  <div class="card-header">
    {{game.date}}
  </div>
  <div class="card-body">
    <h5 class="card-title"><img src="{{game.hTeam.logo}}" style="height:70px" alt="" class="img-thumbnail"> vs <img src="{{game.aTeam.logo}}" style="height:70px" alt="" class="img-thumbnail"></h5>
    <p>PENDING</p>
  </div>
  <div class="card-footer text-muted">
    {{game.matchday}}
  </div>
</div>

      </div>
    </div>
  </div>
    {% endif %}
    
        

    {% endfor %}
    </div>

{% comment %} <div class="pagination d-flex justify-content-center">
    <span class="step-links">
        {% if games.has_previous %}
            <a href="?page=1">« first</a>
            <a href="?page={{ games.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Match Day {{ games.number }} of {{ games.paginator.num_pages }}.
        </span>

        {% if games.has_next %}
            <a href="?page={{ games.next_page_number }}">next</a>
            <a href="?page={{ games.paginator.num_pages }}">last »</a>
        {% endif %}
    </span>
</div> {% endcomment %}

{% endblock content %}