{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}

<h2 class="text-center mt-5">
    <a href="{% url 'predictor:matches' %}">GO TO CURRENT GAMES</a>
</h2>

{% else %}
<h2 class="text-center mt-5">
    Welcome to Scores On The Doors football predictor portal.
</h2>
<p class="text-center">Please <a href="{% url 'predictor:login' %}">login</a> if you have account if not <a href="{% url 'predictor:signup' %}">sign up here</a></p>

{% endif %}

<div class="container bg-secondary text-center mt-3">
    <h3>WARNING</h3>
    <p>Website is still under construction. There is few bugs witch will be fixed as soon as posible. If you find any bugs please contact me and i will try fix em asap.</p>
</div>

<div class="container">
    <ul>
        <li>All users will be automaticly added to MASTER LEAGUE you can't leave it.</li>
        <li>You can create own league in league tab.</li>
        <li>You can join league buy you must know pin number created by league admin.</li>
    </ul>
</div>



{% endblock content %}