{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}

<h2 class="text-center mt-5">
    <a href="{% url 'predictor:matches' %}">GO TO CURRENT GAMES</a>
</h2>

{% else %}
<h2 class="text-center mt-5">
    Welcome to Scores On The Doors football predictor portal.
</h2>
<p class="text-center">Please <a href="{% url 'predictor:login' %}">login</a> if you have account if not <a href="{% url 'predictor:signup' %}">sign up here</a></p>

{% endif %}



{% endblock content %}